{% extends 'admin/admin_base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block dashboard %}
   <div>

      <form class="admin-btn" methos="GET" action="{{ url_for('admin.users') }}">
         <button class="btn btn-outline-light">Users</button>
      </form>

      <form class="admin-btn" methos="GET" action="{{ url_for('admin.notes') }}">
         <button class="btn btn-outline-light">Notes</button>
      </form>

      <form class="admin-btn" action="{{ url_for('notes.index') }}">
        <button class="btn btn-outline-light">User's panel</button>
      </form>
      
   </div>
{% endblock %}

{% block body %}{% endblock %}