{% extends 'auth/auth_base.html' %}

{% block title %}Log in{% endblock %}

{% block body %}


        <div class="center"><h1>Please, log in</h1></div><br>

        <div class="wrapper">
            
            <form method = "POST" action="/auth/login">
                
            <input placeholder="email" class="form-control css-login-input" type="email" name="email" required> <br>
            <input placeholder="password" class="form-control css-login-input" type="password" name="password"> <br>

            <input class="btn btn-outline-light" type="submit" value = "Submit">

        </form>
            <div class="alert alert-info mt-3">
                <strong>Admin's demo account</strong><br>
                Email: admin@gmail.com<br>
                Password: 12345678
            </div>
        </div>

     

{% endblock %}